<?xml version="1.0" encoding="UTF-8" ?>
<suite name="serviceTest" parallel="false">
    <test name="服务管理">
        <classes>
            <class name="service.ServiceCategoryTest"></class>
            <class name="service.ServiceTest"></class>
        </classes>
    </test>
    <test name="问政管理">
        <classes>
            <class name="politic.ContentTest"></class>
            <class name="politic.DepartmentTest"></class>
            <class name="politic.QaPageTest"></class>
            <class name="politic.RankingTest"></class>
        </classes>
    </test>
    <test name="曝光台管理">
        <classes>
            <class name="shoot.ContentTest"></class>
            <class name="shoot.CommentTest"></class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>